// Global styling
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body, html {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// Container Padding
.container-fluid {
  padding: 7% 15%;
}

// Typography
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

// Button restyling
.btn:focus {
  box-shadow: none;
  // box-shadow: none !important;
}
