body {
  .container,
  .movies_container {
    #movie {
      margin-bottom: 80px;
      min-height: 75.5vh;
      .flex-row {
        display: flex;
        align-items: center;
        .img-container {
          flex-basis: auto;
          margin-right: 20px;
          img {
            border-radius: 0.25rem;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
          }
        }
        .details-container {
          flex-basis: 100%;
          h5 {
            font-weight: 500;
            text-align: center;
            background: #282828;
            border-radius: 0.25rem;
            padding-top: 6px;
            padding-bottom: 6px;
            margin-bottom: 10px;
          }
          ul li {
            font-size: 0.9rem;
          }
          ul li span {
            font-weight: 600;
          }
        }
      }
      @media (max-width: 767px) {
        .flex-row {
          flex-direction: column !important;
          align-items: center;
          .img-container {
            flex-basis: auto;
            margin-right: 0px;
            margin-bottom: 20px;
          }
          .details-container {
            align-self: stretch;
          }
        }
      }
      .card {
        width: 100%;
        margin: 20px 15px 20px 15px;
        .card-body {
          text-align: center;
          h4 {
            font-weight: 500;
            color: white;
            font-size: 1.75rem;
          }
          hr {
            background-color: white;
            width: 30%;
          }
          p {
            font-size: 0.95rem;
            width: 70%;
            margin: 0 auto 16px auto;
          }
          .btn-primary {
            margin-right: 15px;
          }
          @media (max-width: 377px) {
            .btn-primary {
              margin-right: 0;
            }
          }
          @media (max-width: 362px) {
            .btn-secondary {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
